<h1 style="color: white;">use this link for Uploding Photo</h2><br>
<h1 style="color: white;">https://drive.google.com/uc?export=view&id=</h2>
<a href="/edit/about"><h1 style="color: white;">About</h2></a>
<a href="/edit/portfolio"><h1 style="color: white;">Portfolio</h2></a>
<a href="/edit/education"><h1 style="color: white;">Education</h2></a>